#externo #login{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%)
}

#login label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: left;
    display: inline-block;
    margin-right: 50px;
    margin-top: 20px;
    left: 20px;
    padding: 5px;
}

fieldset{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    width: 50%;
    background-color: rgb(204, 204, 204);
    border-radius: 1%;
    padding: 5px;
    margin: auto;
    position: relative;
}

.submit{
    display: inline-block;
    padding: 5px;
}