#cabecalho {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

 #menu {
        background-color: #7e7e7e;
        text-align: left;
        padding: 4px 0;
        color: #191919;
}

#menu ul li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    font-size: 18px;
    padding: 0 30px;
    font-variant: small-caps;
}

 #lateral{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: block;
        float: right;
        width: 30%;
        background-color: rgb(177, 177, 177);
        padding: 600px 0px 80px 0px;
        margin: 10px 0;
        min-height: 70px;
        text-align: center;
    }
    
#content {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-variant: small-caps;
        font-size: 16px;
        text-align: center;
        padding: 50px;
        position: relative;
        border-radius: 1%;
    }
        
footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: inline;
    margin: auto;
    color: #555555;
    font-size: 16px;
    text-indent: 0;
}
