body{
  background-color: rgb(150, 236, 236);
  position: relative;
}

#container {
    background-color:  #cacaca;
    text-align: justify;
    border: solid 1px black;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 80px;
    margin-bottom: 60px;
}

#content{
  padding: 0px 20px;
}

ul{
    display: inline;
    list-style: none;
    padding-inline-start: 5px;
}

li {
    display: inline;
    padding-right: 25px;
}

#header {
    background-color:  #cacaca1F1F1;
    font-weight:bolder;
    font-size: large;
    text-align: center;
    width: 100%;
    text-transform: uppercase;     
  }

.subtitle {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.recuo {
    padding-left: 20px;
}

.destaque {
    color: red;
}

#menu {
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #333;
}

